<div class="gradient-custom" style="height: 100vh;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div id="parteNegra" class="card-body p-5 text-center">
    
                <div class="mb-md-2 mt-md-1 pb-3">
    
                    <h2 class="fw-bold mb-2 text-uppercase" >Login</h2>
                    <p class="text-white-50 mb-5">Porfavor ingrese Email y contraseña</p>
                    
                    <div class="form-outline form-white mb-3">  
                        <input type="email" class="form-control form-control-lg"  #email>
                        <label class="form-label" for="typeEmailX" style="color: coral;">Email</label>
                    </div>

                    <div class="form-outline form-white mb-3">
                        <input type="password" id="typePasswordX" class="form-control form-control-lg" #psw/>
                        <label class="form-label" for="typePasswordX" style="color: coral;" >Password</label>
                    </div>
      
                    <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="login(email, psw)" >Login</button>
                </div>
      
                <div>
                    <p class="mb-0">Olvido su contraseña? <a href="usuario/recovery" class="text-white-50 fw-bold">Recuperar</a>
                    </p>
                </div>
                    
              </div>
            </div>
          </div>
        </div>
    </div>
</div>